body{
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 30px;
}
.btn{
    background-color: rgb(246, 25, 25);
    color: white;

}
.btn:hover{
    background-color: rgb(180, 0, 0);
    border-color: black;
}
.btn-outline-success{
    border-color: black;
}